APScheduler==3.10.4
boto3==1.34.94
botocore==1.34.94
cryptography==42.0.8
Flask==3.0.3
Flask-Migrate==4.0.3
flask_sqlalchemy==3.1.1
Flask_Toastr==0.5.8
natsort==8.4.0
py_vapid==1.9.1
Requests==2.32.3
gunicorn==22.0.0
